#wrapper {
    position: relative;
    overflow-x: hidden;
}

.header {
    text-align: center;
    background: saddlebrown;
}

.header ul {
    padding: 30px 0;
}

.header li {
    display: inline-block;
    margin: 0 10px;
}

.header li a {
    transition: color .3s ease, text-shadow .3s ease, border .3s ease;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
}

.header li a::after {
    transition: all .3s ease;
    content: '';
    position: absolute;
    width: 100%;
    left: -100%;
    bottom: 0;
    border: 2px solid  lightgoldenrodyellow;
}

.header li a:hover::after {
    left: 0;
}

.header li a:hover {
    color: lightgoldenrodyellow;
    text-shadow: 1px 1px 1px #000;
}
.header__logo{
    text-align: center;
    background: sandybrown;
    border: 5px solid saddlebrown;
    padding: 30px;
    margin: 0 100px;

}
.header__nav{
    background: sandybrown;
    border: 5px solid saddlebrown;
}

.main {
    text-align: center;
    margin: 20px 100px;
    background: sandybrown;
}
.main_list{
    padding: 30px 0;
    border-bottom:2px dotted black;
}

.main_list_part {
    display: inline-block;
    margin: 0 10px;

}
.main_list_part_img{
    width: 400px;
    height: 300px;
    transition: color .3s ease, border .3s ease;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
}
.main_list_part_img::after{
    transition: all .3s ease;
    content: '';
    position: absolute;
    width: 100%;
    left: -100%;
    border: 2px solid yellow;
}
.main_list_part_img:hover{
    background: lightgoldenrodyellow;
    transition: all 1s ease;
}
.main_description{
    text-align: left;
    font-size: 60px;
}
.webp_img{
    display: inline-block;
    width: 400px;
    height: 300px;
}
